# Directories

**/migrations


# Files

*.pyc
.idea/workspace.xml
.idea/vcs.xml


# Database

db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
